## Churn Down For What?

Definition of Churn
Why is churn important?
In recurring revenue businesses, like Telco Co, customer retention is king.
Defining Curn in our data.
- How much do we churn?
- What percentage of Churn is our lost revenue?
- How much potential revenue is lost to churn montly? Yearly
-# Side note. Churn defeinetions table will be repeated in the comlusion and recommondation portion of the report.

### Goal:

- Discover drivers of churn using the telco_churn database.
- Use drivers to produce models that profile customers who churn.
- Provide actionable recommondatoins to limit customer churn.

### Imports

In [4]:
import acquire as ak
import prepare

Imports the complete telco_churn database into one data frame and assigns it to the variable telco.

### Acquire
- Data acquired from the Codeup SQL server
- Data contains 7043 rows and 53 columns before cleaning.
- Each row represents a unique customer.
- Each column represents a feature of the customer.

In [5]:
# imports all telco_churn database except for customers with 0 tenure.
## drops '11' customers
telco = ak.get_telco_churn()
prepare.prep_telco(telco)

,gender,senior,partner,dependents,tenure,phone_service,multiple_lines,internet_type,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,add_ons
0,Female,0,Yes,Yes,9,Yes,No,1,No,Yes,...,Yes,Yes,No,2,Yes,2,65.60,593.30,No,4
1,Male,0,No,No,9,Yes,Yes,1,No,No,...,No,No,Yes,1,No,2,59.90,542.40,No,4
2,Male,0,No,No,4,Yes,No,2,No,No,...,No,No,No,1,Yes,1,73.90,280.85,Yes,1
3,Male,1,Yes,No,13,Yes,No,2,No,Yes,...,No,Yes,Yes,1,Yes,1,98.00,1237.85,Yes,4
4,Female,1,Yes,No,3,Yes,No,2,No,No,...,Yes,Yes,No,1,Yes,2,83.90,267.40,Yes,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,Female,0,No,No,7,Yes,No,2,No,Yes,...,No,Yes,Yes,2,Yes,2,94.05,633.45,No,4
7028,Female,0,No,No,1,Yes,No,2,No,No,...,No,No,No,1,Yes,2,70.15,70.15,Yes,1
7029,Female,0,No,No,4,Yes,No,3,No internet service,No internet service,...,No internet service,No internet service,No internet service,1,No,3,20.95,85.50,Yes,1
7030,Male,0,No,No,2,Yes,No,1,No,Yes,...,No,No,No,1,Yes,2,50.30,92.75,No,2
7031,Male,0,Yes,Yes,63,No,No phone service,1,Yes,Yes,...,No,Yes,Yes,3,No,1,59.00,3707.60,No,4

In [6]:
telco.head()

,gender,senior,partner,dependents,tenure,phone_service,multiple_lines,internet_type,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,add_ons
0,Female,0,Yes,Yes,9,Yes,No,1,No,Yes,...,Yes,Yes,No,2,Yes,2,65.6,593.30,No,4
1,Male,0,No,No,9,Yes,Yes,1,No,No,...,No,No,Yes,1,No,2,59.9,542.40,No,4
2,Male,0,No,No,4,Yes,No,2,No,No,...,No,No,No,1,Yes,1,73.9,280.85,Yes,1
3,Male,1,Yes,No,13,Yes,No,2,No,Yes,...,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes,4
4,Female,1,Yes,No,3,Yes,No,2,No,No,...,Yes,Yes,No,1,Yes,2,83.9,267.40,Yes,3

### Prepare

### Data snanpshot