In [1]:
import pandas as pd
import numpy as np
import acquire as ak
import prepare
import seaborn as sns

#need to imoport regex into prepared file
import re

In [2]:
telco = ak.get_telco_churn()
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,customer_id.6,phone_service.1,multiple_lines.1,internet_service_type_id.2,online_security.1,online_backup.1,device_protection.1,tech_support.1,streaming_tv.1,streaming_movies.1
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,0002-ORFBO,Yes,No,1,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,0003-MKNFE,Yes,Yes,1,No,No,No,No,No,Yes
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,0004-TLHLJ,Yes,No,2,No,No,Yes,No,No,No
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,0011-IGKFF,Yes,No,2,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,0013-EXCHZ,Yes,No,2,No,No,No,Yes,Yes,No

## Drop columns to be included in function

## Add to prepare along with regex import

In [3]:
# drops all duplicate columns
for i in telco.columns:
    if re.search(r'\d$',i):
        telco.drop(i, axis = 1, inplace = True)

In [4]:
# drops redundant columns in favor of their numerical or boolean counterparts. 
# drop churn month becuse all values are the same.
telco.drop(columns = ['payment_type', 'customer_id', 'contract_type', 'internet_service_type', 'churn_month', 'signup_date'], inplace = True)

In [5]:
# Code i am using to compare like columns
# telco[['tenure', 'signup_date']]

In [6]:
sorted(telco.columns)

['churn',
 'contract_type_id',
 'dependents',
 'device_protection',
 'gender',
 'internet_service_type_id',
 'monthly_charges',
 'multiple_lines',
 'online_backup',
 'online_security',
 'paperless_billing',
 'partner',
 'payment_type_id',
 'phone_service',
 'senior_citizen',
 'streaming_movies',
 'streaming_tv',
 'tech_support',
 'tenure',
 'total_charges']

In [7]:
telco.isna().sum()

gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
internet_service_type_id    0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
contract_type_id            0
paperless_billing           0
payment_type_id             0
monthly_charges             0
total_charges               0
churn                       0
dtype: int64

In [8]:
telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,Female,0,Yes,Yes,9,Yes,No,1,No,Yes,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No
1,Male,0,No,No,9,Yes,Yes,1,No,No,No,No,No,Yes,1,No,2,59.9,542.4,No
2,Male,0,No,No,4,Yes,No,2,No,No,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,Male,1,Yes,No,13,Yes,No,2,No,Yes,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,Female,1,Yes,No,3,Yes,No,2,No,No,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes

In [11]:
telco.rename(columns = {'senior_citizen': 'senior', 'internet_service_type_id' :'internet_type', 
                     'contract_type_id': 'contract_type'} , inplace = True)

In [12]:
# loop used to peak at unique values of 
for i in telco.columns:
    print("Column:", i)
    print(telco[i].value_counts())
    print("-----------------------------")

Column: gender
gender
Male      3555
Female    3488
Name: count, dtype: int64
-----------------------------
Column: senior
senior
0    5901
1    1142
Name: count, dtype: int64
-----------------------------
Column: partner
partner
No     3641
Yes    3402
Name: count, dtype: int64
-----------------------------
Column: dependents
dependents
No     4933
Yes    2110
Name: count, dtype: int64
-----------------------------
Column: tenure
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64
-----------------------------
Column: phone_service
phone_service
Yes    6361
No      682
Name: count, dtype: int64
-----------------------------
Column: multiple_lines
multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
-----------------------------
Column: internet_type
internet_type
2    3096
1    2421
3    1526
Name: count, dtype: int64
-----------------------------
Column: online_security
online_security
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: online_backup
online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: device_protection
device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: tech_support
tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: streaming_tv
streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: streaming_movies
streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
-----------------------------
Column: contract_type
contract_type
1    3875
3    1695
2    1473
Name: count, dtype: int64
-----------------------------
Column: paperless_billing
paperless_billing
Yes    4171
No     2872
Name: count, dtype: int64
-----------------------------
Column: payment_type_id
payment_type_id
1    2365
2    1612
3    1544
4    1522
Name: count, dtype: int64
-----------------------------
Column: monthly_charges
monthly_charges
20.05    61
19.85    45
19.95    44
19.90    44
19.70    43
         ..
53.30     1
59.25     1
29.25     1
61.10     1
73.20     1
Name: count, Length: 1585, dtype: int64
-----------------------------
Column: total_charges
total_charges
20.2      11
          11
19.75      9
19.9       8
20.05      8
          ..
1517.5     1
856.5      1
18.9       1
633.45     1
6858.9     1
Name: count, Length: 6531, dtype: int64
-----------------------------
Column: churn
churn
No     5174
Yes    1869
Name: count, dtype: int64
-----------------------------

In [20]:
mask_all = (telco.applymap(lambda x: str(x).strip() == '')).any(axis=1)

# Display rows where any column is blank or spaces
print(telco[mask_all])

      gender  senior partner dependents  tenure phone_service  \
945   Female       0     Yes        Yes       0            No
1731  Female       0     Yes        Yes       0           Yes
1906    Male       0      No        Yes       0           Yes
2025    Male       0     Yes        Yes       0           Yes
2176    Male       0      No        Yes       0           Yes
2250    Male       0     Yes        Yes       0           Yes
2666    Male       0     Yes        Yes       0           Yes
2696  Female       0     Yes        Yes       0            No
4976  Female       0     Yes        Yes       0           Yes
5597  Female       0     Yes        Yes       0           Yes
6247    Male       0     Yes        Yes       0           Yes

        multiple_lines  internet_type      online_security  \
945   No phone service              1                  Yes
1731                No              3  No internet service
1906               Yes              1                  Yes
2025                No              3  No internet service
2176                No              3  No internet service
2250               Yes              3  No internet service
2666               Yes              3  No internet service
2696  No phone service              1                  Yes
4976               Yes              1                   No
5597                No              1                  Yes
6247                No              3  No internet service

            online_backup    device_protection         tech_support  \
945                   Yes                  Yes                  Yes
1731  No internet service  No internet service  No internet service
1906                  Yes                   No                  Yes
2025  No internet service  No internet service  No internet service
2176  No internet service  No internet service  No internet service
2250  No internet service  No internet service  No internet service
2666  No internet service  No internet service  No internet service
2696                   No                  Yes                  Yes
4976                  Yes                  Yes                  Yes
5597                  Yes                  Yes                   No
6247  No internet service  No internet service  No internet service

             streaming_tv     streaming_movies  contract_type  \
945                   Yes                   No              3
1731  No internet service  No internet service              3
1906                   No                   No              3
2025  No internet service  No internet service              2
2176  No internet service  No internet service              3
2250  No internet service  No internet service              3
2666  No internet service  No internet service              3
2696                  Yes                   No              3
4976                  Yes                   No              3
5597                  Yes                  Yes              3
6247  No internet service  No internet service              3

     paperless_billing  payment_type_id  monthly_charges total_charges churn
945                 No                4            56.05                  No
1731                No                2            20.00                  No
1906               Yes                3            61.90                  No
2025               Yes                2            19.70                  No
2176                No                2            20.25                  No
2250                No                2            25.35                  No
2666                No                2            25.75                  No
2696               Yes                3            52.55                  No
4976                No                2            73.35                  No
5597                No                2            80.85                  No
6247                No                2            19.85                  No